body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
    * {font-size: larger;}
img{
    margin-left: 50px;
    transition: 2s ease; 
    width: 10cm;
    border: 5px solid rgb(255, 255, 255);
}
p{
    color: azure;
}
a{
    text-decoration: none;
    color: white;
    position:fixed;
    right: 70px;
    font-size: 3rem;
    transition: 0.5s;
}
a:hover{
    font-size: 3.5rem;
}
h1{
    color: aliceblue;
}
audio{
    position:fixed;
    right: 30px;
    bottom: 30px;
}