body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: fuchsia;
    transition: 0.5s;
    margin-left: 15px
}
    * {font-size: larger;}
img{
    margin-left: 50px;
    transition: 2s ease; 
    width: 10cm;
}
body p{
    color: azure;
}
a{
    color: white;
    position:fixed;
    right: 70px;
    font-size: 3rem;
    transition: 0.5s;
}
a:hover{
    font-size: 3.5rem;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1{
    color: aliceblue;
}